@charset "UTF-8";
/* 폰트 */
/* 컬러 */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #1C1D1E;
}
body.scroll-lock {
  overflow: hidden;
}
body ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body ::-webkit-scrollbar-track {
  background: transparent;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #CBD5DA;
}

/* 로그인을 제외한 전체 공통 레이아웃 */
.wrapper:not(.login) main {
  width: calc(100% - 4rem);
  margin: 0 auto;
  min-height: calc(100vh - 6.2rem);
}

/* header */
header {
  width: 100%;
  height: 6.2rem;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #F0F3F4;
  background: #FFFFFF;
  backdrop-filter: blur(2px);
  z-index: 10;
}
header > .inner {
  position: relative;
  width: 100%;
  height: 6.2rem;
  padding: 1.3rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header > .inner .back-btn {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  background: url(../../../assets/images/icon/back.svg) no-repeat center/contain;
}
header > .inner .page-tit {
  font-size: 2rem;
  font-weight: 700;
  color: #292B2E;
}
header > .inner .close-btn {
  width: 2.4rem;
  height: 2.4rem;
  background: url(../../../assets/images/icon/close_g400.svg) no-repeat center/contain;
}

/* 요소 숨기기 */
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 버튼 */
button {
  height: 5.2rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 700;
  color: #FFFFFF;
  background: #1C1D1E;
  border-radius: 1rem;
}
button:disabled {
  background: #CBD5DA;
  cursor: default;
}

/* 텍스트, 패스워드, 체크박스 */
.input-wrap {
  position: relative;
}
.input-wrap input[type=text], .input-wrap input[type=password], .input-wrap input[type=number] {
  width: 100%;
  height: 5.2rem;
  padding: 0 1.4rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 500;
  color: #1C1D1E;
  border-radius: 0.8rem;
  border: 1px solid #DCE4E7;
  background: #FFFFFF;
}
.input-wrap input[type=text]::placeholder, .input-wrap input[type=password]::placeholder, .input-wrap input[type=number]::placeholder {
  color: #7A8A93;
}
.input-wrap input[type=text]:focus, .input-wrap input[type=password]:focus, .input-wrap input[type=number]:focus {
  border: 1px solid #7A8A93;
}
.input-wrap.checkbox input[type=checkbox] {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.input-wrap.checkbox input[type=checkbox] + label {
  position: relative;
  padding-left: 3.2rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  white-space: nowrap;
  cursor: pointer;
}
.input-wrap.checkbox input[type=checkbox] + label::before, .input-wrap.checkbox input[type=checkbox] + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
}
.input-wrap.checkbox input[type=checkbox] + label::before {
  width: 2rem;
  height: 2rem;
  transform: translateY(-50%);
  border-radius: 3px;
  border: 2px solid #CBD5DA;
  background: #FFFFFF;
}
.input-wrap.checkbox input[type=checkbox] + label::after {
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  opacity: 0;
  background: url(../../../assets/images/icon/check.svg) no-repeat center/1.7rem #32D074;
}
.input-wrap.checkbox input[type=checkbox]:focus-visible + label::before {
  outline: 2px solid #000;
  outline-offset: 2px;
}
.input-wrap.checkbox input[type=checkbox]:checked + label::before {
  border-color: #32D074;
}
.input-wrap.checkbox input[type=checkbox]:checked + label::after {
  opacity: 1;
}
.input-wrap.checkbox input[type=checkbox]:disabled + label::before {
  border-color: #CBD5DA;
  background: #EFF2F3;
}
.input-wrap.checkbox input[type=checkbox]:disabled + label::after {
  border: 2px solid #CBD5DA;
  background-color: #CBD5DA;
}

/*토스트 메시지*/
.toast-pop {
  opacity: 0;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 4rem);
  max-width: 72.8rem;
  margin: 0 auto;
  padding: 1.4rem 1.6rem;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: left;
  border-radius: 1.4rem;
  background: rgba(28, 29, 30, 0.7);
  backdrop-filter: blur(7px);
  transition: all 0.5s;
  z-index: 999;
}
.toast-pop.active {
  opacity: 100%;
  top: 7rem;
}

/* 바텀시트 */
.bottom-sheet {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 76.8rem;
  height: calc(var(--vh, 1vh) * 100);
  background: rgba(0, 0, 0, 0.3);
  z-index: 20;
  display: none;
}
.bottom-sheet.on {
  display: block;
}
.bottom-sheet.on .inner {
  animation: slideUp 0.5s;
}
.bottom-sheet .inner {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.6rem 1.6rem 0 0;
  background: #FFFFFF;
  overflow: hidden;
}
.bottom-sheet .inner .hd-wrap {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EFF2F3;
}
.bottom-sheet .inner .hd-wrap strong {
  font-size: 2rem;
  font-weight: 700;
  color: #292B2E;
}
.bottom-sheet .inner .hd-wrap .close-btn {
  width: 2.4rem;
  height: 2.4rem;
  background: url(../../../assets/images/icon/close.svg) no-repeat center/contain;
}
.bottom-sheet .inner .btn-wrap button {
  width: 100%;
}

/* 모달(팝업) */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 999;
}
.modal.on {
  display: flex;
}
.modal .inner {
  position: relative;
  width: calc(100% - 4rem);
  max-width: 72.8rem;
  margin: 0 auto;
  border-radius: 1.6rem;
  background: #FFFFFF;
}
.modal .inner .modal-hd {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.modal .inner .modal-hd strong {
  display: inline-block;
  width: calc(100% - 2.4rem);
  font-size: 2rem;
  font-weight: 700;
  color: #292B2E;
}
.modal .inner .modal-hd .close-btn {
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  background: url(../../../assets/images/icon/close.svg) no-repeat center/contain;
}
.modal .inner .modal-con {
  width: 100%;
  padding: 0 2rem;
}
.modal .inner .modal-con p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #5A626A;
}
.modal .inner .btn-wrap {
  width: 100%;
  padding: 2rem;
}
.modal .inner .btn-wrap button {
  width: 100%;
  height: 4.4rem;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 1rem;
  background: #1C1D1E;
}
.modal.type01 .inner .btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.modal.type01 .inner .btn-wrap button {
  width: calc(50% - 0.3rem);
}
.modal.type01 .inner .btn-wrap button:first-child {
  color: #1C1D1E;
  background: #EFF2F3;
}

@keyframes slideUp {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
/* 녹음 목록 */
.wrapper.home {
  position: relative;
  max-width: 76.8rem;
  margin: 0 auto;
  background: #F4F8F8;
  /* 편집모드 */
}
.wrapper.home.edit header > .inner .util-area .btn-wrap {
  display: none;
}
.wrapper.home.edit header > .inner .util-area .cancel-btn {
  display: block;
}
.wrapper.home.edit main > .inner .con-wrap .list-wrap {
  padding-bottom: 9.9rem;
}
.wrapper.home.edit main > .inner .con-wrap .list-wrap ul li .input-wrap {
  display: block;
}
.wrapper.home.edit main > .inner .con-wrap .list-wrap ul li .info-wrap {
  width: calc(100% - 3.4rem);
}
.wrapper.home.edit main > .inner .delete-wrap {
  display: block;
}
.wrapper.home.edit main > .inner .floating-wrap.mic {
  display: none;
}
.wrapper.home header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #F0F3F4;
  background: #FFFFFF;
  backdrop-filter: blur(2px);
  z-index: 10;
}
.wrapper.home header > .inner {
  width: 100%;
  height: 6.2rem;
  padding: 1.3rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper.home header > .inner .logo a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.wrapper.home header > .inner .logo a .img-logo {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: contain;
}
.wrapper.home header > .inner .logo a .txt-logo {
  width: 8.9rem;
  height: 2.8rem;
  object-fit: contain;
}
.wrapper.home header > .inner .util-area .btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2rem;
}
.wrapper.home header > .inner .util-area .btn-wrap button {
  width: 2.4rem;
  height: 2.4rem;
  border: none;
}
.wrapper.home header > .inner .util-area .btn-wrap button.search-btn {
  background: url(../../../assets/images/icon/search.svg) no-repeat center/contain;
}
.wrapper.home header > .inner .util-area .btn-wrap button.edit-btn {
  background: url(../../../assets/images/icon/edit.svg) no-repeat center/contain;
}
.wrapper.home header > .inner .util-area .cancel-btn {
  font-size: 1.6rem;
  font-weight: 700;
  color: #7A8A93;
  padding: 0;
  border: none;
  background: none;
  display: none;
}
.wrapper.home main > .inner {
  width: 100%;
}
.wrapper.home main > .inner .empty {
  min-height: calc(100vh - 6.2rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.wrapper.home main > .inner .empty img {
  width: 8.5rem;
  height: 7.9rem;
  background: url(../../../assets/images/common/empty_face.svg) no-repeat center/contain;
}
.wrapper.home main > .inner .empty .info {
  text-align: center;
  font-weight: 500;
  color: #A7B5BC;
}
.wrapper.home main > .inner .con-wrap .sorting-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.wrapper.home main > .inner .con-wrap .sorting-wrap .sorting-btn {
  position: relative;
  padding: 1.4rem 1.8rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #434547;
  background: transparent;
}
.wrapper.home main > .inner .con-wrap .sorting-wrap .sorting-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1.4rem;
  height: 1.4rem;
  background: url(../../../assets/images/icon/arrow_down.svg) no-repeat center/contain;
}
.wrapper.home main > .inner .con-wrap .list-wrap {
  padding-bottom: 2.2rem;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li {
  width: 100%;
  padding: 1.4rem 1.6rem;
  border-radius: 1.2rem;
  background: #FFFFFF;
  box-shadow: 0px 1px 6px 0px rgba(195, 195, 195, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .input-wrap {
  width: 2.4rem;
  display: none;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .input-wrap label {
  padding-left: 2rem;
  margin-left: 0.2rem;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap {
  width: 100%;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap .detail-wrap {
  height: 2.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap .detail-wrap .client-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap .detail-wrap .client-info .client {
  font-size: 1.4rem;
  font-weight: 500;
  color: #434547;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap .detail-wrap .client-info .session {
  font-size: 1.4rem;
  font-weight: 500;
  color: #7A8A93;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap .title-wrap {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap .title-wrap strong {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.8rem;
  font-weight: 600;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap .datetime-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2.4rem;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap .datetime-wrap span {
  position: relative;
  font-size: 1.4rem;
  font-weight: 500;
  color: #A7B5BC;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap .datetime-wrap .date::before {
  content: "";
  position: absolute;
  right: -1.2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 1.1rem;
  background: #CBD5DA;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap .tag {
  display: inline-block;
  height: 2.3rem;
  padding: 0 0.5rem;
  line-height: 2.3rem;
  font-size: 1.3rem;
  white-space: nowrap;
  border-radius: 0.5rem;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap .tag.convert {
  color: #A7B5BC;
  background: #EFF2F3;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap .tag.upload {
  color: #A7B5BC;
  background: #EFF2F3;
}
.wrapper.home main > .inner .con-wrap .list-wrap ul li .info-wrap .tag.upload-fail {
  color: #FE7311;
  background: #FFEDD4;
}
.wrapper.home main > .inner .bottom-sheet.sorting .inner .list-wrap {
  padding-bottom: 3rem;
}
.wrapper.home main > .inner .bottom-sheet.sorting .inner .list-wrap ul {
  width: 100%;
}
.wrapper.home main > .inner .bottom-sheet.sorting .inner .list-wrap ul li {
  width: 100%;
  border-bottom: 1px solid #EFF2F3;
}
.wrapper.home main > .inner .bottom-sheet.sorting .inner .list-wrap ul li a {
  display: inline-block;
  width: 100%;
  padding: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #434547;
}
.wrapper.home main > .inner .delete-wrap {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 76.8rem;
  padding: 1.2rem 2rem;
  z-index: 15;
  border-top: 1px solid #DCE4E7;
  background: #FFFFFF;
  display: none;
}
.wrapper.home main > .inner .delete-wrap .delete-btn {
  width: 100%;
  height: 5.2rem;
  border-radius: 1rem;
  font-weight: 700;
  color: #1C1D1E;
  background: #EFF2F3;
}
.wrapper.home main > .inner .delete-wrap .delete-btn:disabled {
  color: #CBD5DA;
  background: rgba(239, 242, 243, 0.7);
}
.wrapper.home main > .inner .floating-wrap {
  position: fixed;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
}
.wrapper.home main > .inner .floating-wrap .mic-btn {
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 50%;
  background: url(../../../assets/images/icon/mic.svg) no-repeat center/32px #32D074;
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}