@import "../common/common";

/* 녹음중 */
.wrapper {
    &.recordings {
        position: relative;
        max-width: 76.8rem;
        margin: 0 auto;
        background: $gray0;
        background: pink;
        header {
            width: 100%;
            height: 6.2rem;
            position: sticky;
            top: 0;
            left: 0;
            border-bottom: 1px solid #F0F3F4;
            background: $gray0;
            backdrop-filter: blur(2px);
            z-index: 10;
            > .inner {
                width: 100%;
                padding: 1.3rem 2rem;
                @include flexbox(row, space-between, center);
                .back-btn {
                    width: 2.4rem;
                    height: 2.4rem;
                    padding: 0;
                    background: url(../../../assets/images/icon/back.svg) no-repeat center/contain;
                }
                .page-tit {
                    font-size: 2rem;
                    font-weight: 700;
                    color: #292B2E;
                }
                .help-btn {
                    height: 3.2rem;
                    padding: 0 .9rem 0 2.7rem;
                    font-size: 1.6rem;
                    font-weight: 700;
                    color: $error;
                    border: 1px solid $red200;
                    border-radius: 3rem;
                    background: url(../../../assets/images/icon/phone.svg) no-repeat center left 9px/16px $gray0;
                }
            }
        }
        main {
            width: calc(100% - 4rem);
            margin: 0 auto;
            min-height: calc(100vh - 6.2rem);
            .inner {
                .con-wrap {
                    .waveform-wrap {
                        width: 100%;
                        height: 30rem;
                        border-radius: 1.6rem;
                        background: #F4F8F8;
                    }
                }
                .bottom-sheet {
                    &.file-name {
                        .inner {
                            .input-wrap {
                                padding: 1rem 2rem 1.6rem;
                                input {
                                    height: 5.6rem;
                                }
                            }
                            .btn-wrap {
                                border-top: 1px solid $gray100;
                                padding: 1.2rem 2rem;
                                .save-btn {
                                    width: 100%;
                                    height: 5.2rem;
                                    color: $gray0;
                                    font-size: 1.6rem;
                                    font-weight: 700;
                                    border-radius: 1rem;
                                    background: $gray950;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



/* 0709 테스트 */
#pause {
    width: 6rem;
    height: 6rem;
    background: $secondary500;
}