@charset "UTF-8";
/* 폰트 */
/* 컬러 */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #1C1D1E;
}
body.scroll-lock {
  overflow: hidden;
}
body ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
body ::-webkit-scrollbar-track {
  background: transparent;
}
body ::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #CBD5DA;
}

/* 로그인을 제외한 전체 공통 레이아웃 */
.wrapper:not(.login) main {
  width: calc(100% - 4rem);
  margin: 0 auto;
  min-height: calc(100vh - 6.2rem);
}

/* header */
header {
  width: 100%;
  height: 6.2rem;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #F0F3F4;
  background: #FFFFFF;
  backdrop-filter: blur(2px);
  z-index: 10;
}
header > .inner {
  position: relative;
  width: 100%;
  height: 6.2rem;
  padding: 1.3rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header > .inner .back-btn {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  background: url(../../../assets/images/icon/back.svg) no-repeat center/contain;
}
header > .inner .page-tit {
  font-size: 2rem;
  font-weight: 700;
  color: #292B2E;
}
header > .inner .close-btn {
  width: 2.4rem;
  height: 2.4rem;
  background: url(../../../assets/images/icon/close_g400.svg) no-repeat center/contain;
}

/* 요소 숨기기 */
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 버튼 */
button {
  height: 5.2rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 700;
  color: #FFFFFF;
  background: #1C1D1E;
  border-radius: 1rem;
}
button:disabled {
  background: #CBD5DA;
  cursor: default;
}

/* 텍스트, 패스워드, 체크박스 */
.input-wrap {
  position: relative;
}
.input-wrap input[type=text], .input-wrap input[type=password], .input-wrap input[type=number] {
  width: 100%;
  height: 5.2rem;
  padding: 0 1.4rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  font-weight: 500;
  color: #1C1D1E;
  border-radius: 0.8rem;
  border: 1px solid #DCE4E7;
  background: #FFFFFF;
}
.input-wrap input[type=text]::placeholder, .input-wrap input[type=password]::placeholder, .input-wrap input[type=number]::placeholder {
  color: #7A8A93;
}
.input-wrap input[type=text]:focus, .input-wrap input[type=password]:focus, .input-wrap input[type=number]:focus {
  border: 1px solid #7A8A93;
}
.input-wrap.checkbox input[type=checkbox] {
  overflow: hidden;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.input-wrap.checkbox input[type=checkbox] + label {
  position: relative;
  padding-left: 3.2rem;
  font-family: "Pretendard";
  font-size: 1.6rem;
  white-space: nowrap;
  cursor: pointer;
}
.input-wrap.checkbox input[type=checkbox] + label::before, .input-wrap.checkbox input[type=checkbox] + label::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
}
.input-wrap.checkbox input[type=checkbox] + label::before {
  width: 2rem;
  height: 2rem;
  transform: translateY(-50%);
  border-radius: 3px;
  border: 2px solid #CBD5DA;
  background: #FFFFFF;
}
.input-wrap.checkbox input[type=checkbox] + label::after {
  width: 2rem;
  height: 2rem;
  border-radius: 3px;
  opacity: 0;
  background: url(../../../assets/images/icon/check.svg) no-repeat center/1.7rem #32D074;
}
.input-wrap.checkbox input[type=checkbox]:focus-visible + label::before {
  outline: 2px solid #000;
  outline-offset: 2px;
}
.input-wrap.checkbox input[type=checkbox]:checked + label::before {
  border-color: #32D074;
}
.input-wrap.checkbox input[type=checkbox]:checked + label::after {
  opacity: 1;
}
.input-wrap.checkbox input[type=checkbox]:disabled + label::before {
  border-color: #CBD5DA;
  background: #EFF2F3;
}
.input-wrap.checkbox input[type=checkbox]:disabled + label::after {
  border: 2px solid #CBD5DA;
  background-color: #CBD5DA;
}

/*토스트 메시지*/
.toast-pop {
  opacity: 0;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 4rem);
  max-width: 72.8rem;
  margin: 0 auto;
  padding: 1.4rem 1.6rem;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: left;
  border-radius: 1.4rem;
  background: rgba(28, 29, 30, 0.7);
  backdrop-filter: blur(7px);
  transition: all 0.5s;
  z-index: 999;
}
.toast-pop.active {
  opacity: 100%;
  top: 7rem;
}

/* 바텀시트 */
.bottom-sheet {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  max-width: 76.8rem;
  height: calc(var(--vh, 1vh) * 100);
  background: rgba(0, 0, 0, 0.3);
  z-index: 20;
  display: none;
}
.bottom-sheet.on {
  display: block;
}
.bottom-sheet.on .inner {
  animation: slideUp 0.5s;
}
.bottom-sheet .inner {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.6rem 1.6rem 0 0;
  background: #FFFFFF;
  overflow: hidden;
}
.bottom-sheet .inner .hd-wrap {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EFF2F3;
}
.bottom-sheet .inner .hd-wrap strong {
  font-size: 2rem;
  font-weight: 700;
  color: #292B2E;
}
.bottom-sheet .inner .hd-wrap .close-btn {
  width: 2.4rem;
  height: 2.4rem;
  background: url(../../../assets/images/icon/close.svg) no-repeat center/contain;
}
.bottom-sheet .inner .btn-wrap button {
  width: 100%;
}

/* 모달(팝업) */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 999;
}
.modal.on {
  display: flex;
}
.modal .inner {
  position: relative;
  width: calc(100% - 4rem);
  max-width: 72.8rem;
  margin: 0 auto;
  border-radius: 1.6rem;
  background: #FFFFFF;
}
.modal .inner .modal-hd {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.modal .inner .modal-hd strong {
  display: inline-block;
  width: calc(100% - 2.4rem);
  font-size: 2rem;
  font-weight: 700;
  color: #292B2E;
}
.modal .inner .modal-hd .close-btn {
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  background: url(../../../assets/images/icon/close.svg) no-repeat center/contain;
}
.modal .inner .modal-con {
  width: 100%;
  padding: 0 2rem;
}
.modal .inner .modal-con p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #5A626A;
}
.modal .inner .btn-wrap {
  width: 100%;
  padding: 2rem;
}
.modal .inner .btn-wrap button {
  width: 100%;
  height: 4.4rem;
  color: #FFFFFF;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 1rem;
  background: #1C1D1E;
}
.modal.type01 .inner .btn-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.modal.type01 .inner .btn-wrap button {
  width: calc(50% - 0.3rem);
}
.modal.type01 .inner .btn-wrap button:first-child {
  color: #1C1D1E;
  background: #EFF2F3;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 녹음 상세 */
.wrapper.record-detail {
  position: relative;
  max-width: 76.8rem;
  margin: 0 auto;
  background: #FFFFFF;
}
.wrapper.record-detail header > .inner .page-tit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper.record-detail main .inner .con-wrap .info-wrap {
  padding: 2rem 0 3rem;
}
.wrapper.record-detail main .inner .con-wrap .info-wrap .top-wrap {
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.wrapper.record-detail main .inner .con-wrap .info-wrap .top-wrap .recording-tit {
  font-size: 2.2rem;
  font-weight: 700;
  color: #1C1D1E;
}
.wrapper.record-detail main .inner .con-wrap .info-wrap .top-wrap .tag {
  display: inline-block;
  padding: 0.15rem 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #A7B5BC;
  border-radius: 0.5rem;
  background: #EFF2F3;
}
.wrapper.record-detail main .inner .con-wrap .info-wrap .top-wrap .tag.fail {
  color: #FE7311;
  background: #FFEDD4;
}
.wrapper.record-detail main .inner .con-wrap .info-wrap .center-wrap {
  position: relative;
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.wrapper.record-detail main .inner .con-wrap .info-wrap .center-wrap .datetime-wrap {
  position: relative;
  padding-top: 0.2rem;
}
.wrapper.record-detail main .inner .con-wrap .info-wrap .center-wrap .datetime-wrap::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1rem;
  transform: translateY(-50%);
  width: 1px;
  height: 1.1rem;
  background: #A7B5BC;
}
.wrapper.record-detail main .inner .con-wrap .info-wrap .center-wrap .datetime-wrap span {
  font-weight: 500;
  color: #5A626A;
}
.wrapper.record-detail main .inner .con-wrap .info-wrap .center-wrap .total {
  font-weight: 700;
  color: #7A8A93;
}
.wrapper.record-detail main .inner .con-wrap .info-wrap .bottom-wrap span {
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  color: #7A8A93;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}
.wrapper.record-detail main .inner .con-wrap .info-wrap .bottom-wrap span::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #7A8A93;
}
.wrapper.record-detail main .inner .con-wrap .client-card {
  height: 7.6rem;
  padding: 0 2rem;
  margin-bottom: 1.6rem;
  border-radius: 1.3rem;
  border: 1px solid #EFF2F3;
  background: #FFFFFF;
  box-shadow: 0px 1px 6px 0px rgba(195, 195, 195, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
}
.wrapper.record-detail main .inner .con-wrap .client-card .condition {
  width: 5rem;
  height: 5rem;
  color: #FE7311;
  font-weight: 700;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #FFEDD4;
}
.wrapper.record-detail main .inner .con-wrap .client-card .details > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1.6rem;
}
.wrapper.record-detail main .inner .con-wrap .client-card .details > div .client {
  position: relative;
  font-weight: 700;
}
.wrapper.record-detail main .inner .con-wrap .client-card .details > div .client::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -1rem;
  transform: translateY(-50%);
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: #A7B5BC;
}
.wrapper.record-detail main .inner .con-wrap .client-card .details > div .gender {
  font-weight: 500;
  color: #7A8A93;
}
.wrapper.record-detail main .inner .con-wrap .client-card .details .phone {
  font-weight: 500;
  color: #7A8A93;
}
.wrapper.record-detail main .inner .con-wrap .waveform-wrap {
  position: relative;
  width: 100%;
  height: 16.7rem;
  border-radius: 1.6rem;
  background: #F4F8F8;
  overflow: hidden;
}
.wrapper.record-detail main .inner .con-wrap .recording-time {
  padding-top: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.wrapper.record-detail main .inner .con-wrap .recording-time strong {
  font-size: 3rem;
  font-weight: 500;
  color: #1C1D1E;
}
.wrapper.record-detail main .inner .con-wrap .control-wrap {
  padding: 2.2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.wrapper.record-detail main .inner .con-wrap .control-wrap .skip-backward-btn {
  width: 4rem;
  height: 4rem;
  background: url(../../../assets/images/icon/skip_backward.svg) no-repeat center/contain;
}
.wrapper.record-detail main .inner .con-wrap .control-wrap .play-btn {
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 50%;
  display: none;
  background: url(../../../assets/images/icon/play.svg) no-repeat center/3.2rem #32D074;
}
.wrapper.record-detail main .inner .con-wrap .control-wrap .play-btn.on {
  display: block;
}
.wrapper.record-detail main .inner .con-wrap .control-wrap .pause-btn {
  width: 7.6rem;
  height: 7.6rem;
  border-radius: 50%;
  display: none;
  border: 2px solid #32D074;
  background: url(../../../assets/images/icon/pause_s500.svg) no-repeat center/3.2rem #FFFFFF;
}
.wrapper.record-detail main .inner .con-wrap .control-wrap .pause-btn.on {
  display: block;
}
.wrapper.record-detail main .inner .con-wrap .control-wrap .skip-forward-btn {
  width: 4rem;
  height: 4rem;
  background: url(../../../assets/images/icon/skip_forward.svg) no-repeat center/contain;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .hd-wrap {
  border: none;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .status {
  padding: 0 2rem;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .status .card {
  position: relative;
  padding: 1.6rem 1.4rem;
  border-radius: 1rem;
  border: 1px solid #DCE4E7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .status .card:first-child {
  margin-bottom: 0.6rem;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .status .card.loading .tag {
  color: #A7B5BC;
  background: #EFF2F3;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .status .card.loading .icon-wrap .icon {
  background: url(../../../assets/images/icon/loading.svg) no-repeat center/contain;
  animation: loading 1s linear infinite;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .status .card.loading + .card.loading .icon-wrap .icon {
  background: transparent;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .status .card.complete .tag {
  color: #32D074;
  background: #E2F8EB;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .status .card.complete .icon-wrap .icon {
  border-radius: 50%;
  background: url(../../../assets/images/icon/check.svg) no-repeat center/18px #32D074;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .status .card .tag {
  display: inline-block;
  padding: 0.15rem 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #A7B5BC;
  background: #EFF2F3;
  border-radius: 0.5rem;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .status .card p {
  font-weight: 500;
  color: #5A626A;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .status .card .icon-wrap {
  position: absolute;
  top: 50%;
  right: 1.9rem;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .status .card .icon-wrap .icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .txt-info {
  padding: 2rem 0 3rem;
}
.wrapper.record-detail main .inner .bottom-sheet.current-state .inner .txt-info p {
  text-align: center;
  font-weight: 500;
  color: #5A626A;
}
.wrapper.record-detail main .inner .bottom-sheet.fail .hd-wrap {
  border: none;
}
.wrapper.record-detail main .inner .bottom-sheet.fail .fail-wrap {
  padding: 1rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper.record-detail main .inner .bottom-sheet.fail .fail-wrap img {
  width: 8.5rem;
  height: 7.9rem;
  object-fit: contain;
}
.wrapper.record-detail main .inner .bottom-sheet.fail .fail-wrap .fail-info {
  padding: 1rem 0 2rem;
  text-align: center;
  font-weight: 700;
}
.wrapper.record-detail main .inner .bottom-sheet.fail .fail-wrap .detail-info {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #A7B5BC;
}
.wrapper.record-detail main .inner .bottom-sheet.fail .btn-wrap {
  border-top: 1px solid #DCE4E7;
  padding: 1.2rem 2rem;
}