/* 폰트 */
$pretendard: 'Pretendard';

/* 컬러 */
$black: #000;
$white: #fff;
$error: #FF0606;

$gray950 : #1C1D1E;
$gray900 : #3B3C3E;
$gray800 : #434547;
$gray700 : #4C5052;
$gray600 : #5A626A;
$gray500 : #69757B;
$gray400 : #7A8A93;
$gray300 : #A7B5BC;
$gray200 : #CBD5DA;
$gray100 : #DCE4E7;
$gray50 : #EFF2F3;
$gray0 : #FFFFFF;

$secondary950: #072C18;
$secondary900: #184F31;
$secondary800: #1A6139;
$secondary700: #1B7A44;
$secondary600: #1E9B52;
$secondary500: #32D074;
$secondary400: #52D689;
$secondary300: #8CE9B3;
$secondary200: #BEF4D4;
$secondary100: #DEFAE9;
$secondary50: #F1FCF5;

$blue950: #1A2551;
$blue900: #233985;
$blue800: #253EA8;
$blue700: #264BCF;
$blue600: #2F5FE1;
$blue500: #447DED;
$blue400: #68A0F2;
$blue300: #7FB2F6;
$blue200: #C2D9FB;
$blue100: #DDE9FC;
$blue50: #F0F5FE;

$yellow950: #412107;
$yellow900: #704113;
$yellow800: #844F0F;
$yellow700: #9F6509;
$yellow600: #C88C06;
$yellow500: #E8B60A;
$yellow400: #F8CF17;
$yellow300: #FBE144;
$yellow200: #FDF18B;
$yellow100: #FDF9C4;
$yellow50: #FEFCE8;

$orange950: #441306;
$orange900: #7E2C10;
$orange800: #9D340F;
$orange700: #C64008;
$orange600: #EF5807;
$orange500: #FE7311;
$orange400: #FF8D2E;
$orange300: #FFBB71;
$orange200: #FFD7A8;
$orange100: #FFEDD4;
$orange50: #FFF7ED;

$red950: #4B0404;
$red900: #BF0000;
$red800: #CE0000;
$red700: #DF000F;
$red600: #EC0017;
$red500: #FF0606;
$red400: #FF3434;
$red300: #FF6565;
$red200: #FF9F9F;
$red100: #FFCFCF;
$red50: #FFE5E5;

@mixin flexbox($direction, $justfy, $align){
	display:flex;
    flex-direction: $direction;
    justify-content: $justfy;
    align-items: $align;
}

@mixin ellipsis($num: 1) {
    @if ($num == 1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    } @else {
        display: -webkit-box;
        overflow: hidden;
        // word-break: keep-all;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $num;
    }
}

*, *::before, *::after {box-sizing: border-box;}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: $pretendard;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: $gray950;
    &.scroll-lock {
        overflow: hidden;
    }
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: $gray200;
    }
}

/* 로그인을 제외한 전체 공통 레이아웃 */
.wrapper {
    &:not(.login) {
        main {
            width: calc(100% - 4rem);
            margin: 0 auto;
            min-height: calc(100vh - 6.2rem);
        }
    }
}

/* header */
header {
    width: 100%;
    height: 6.2rem;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 1px solid #F0F3F4;
    background: $gray0;
    backdrop-filter: blur(2px);
    z-index: 10;
    > .inner {
        position: relative;
        width: 100%;
        height: 6.2rem;
        padding: 1.3rem 2rem;
        @include flexbox(row, space-between, center);
        .back-btn {
            width: 2.4rem;
            height: 2.4rem;
            padding: 0;
            background: url(../../../assets/images/icon/back.svg) no-repeat center/contain;
        }
        .page-tit {
            font-size: 2rem;
            font-weight: 700;
            color: #292B2E;
        }
        .close-btn {
            width: 2.4rem;
            height: 2.4rem;
            background: url(../../../assets/images/icon/close_g400.svg) no-repeat center/contain;
        }
    }
}

/* 요소 숨기기 */
.hide {
    position: absolute; 
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
}

/* 버튼 */
button {
    height: 5.2rem;
    font-family: $pretendard;
    font-size: 1.6rem;
    font-weight: 700;
    color: $gray0;
    background: $gray950;
    border-radius: 1rem;
    &:disabled {
        background: $gray200;
        cursor: default;
    }
}

/* 텍스트, 패스워드, 체크박스 */
.input-wrap {
    position: relative;
    input[type="text"], input[type="password"], input[type="number"] {
        width: 100%;
        height: 5.2rem;
        padding: 0 1.4rem;
        font-family: $pretendard;
        font-size: 1.6rem;
        font-weight: 500;
        color: $gray950;
        border-radius: .8rem;
        border: 1px solid $gray100;
        background: $gray0;
        &::placeholder {
            color: $gray400;
        }
        &:focus {
            border: 1px solid $gray400;
        }
    }
    &.checkbox{
        input[type="checkbox"]{
            overflow: hidden;
            position: absolute;
            clip: rect(0, 0, 0, 0);
            clip-path: polygon(0 0, 0 0, 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
            + label{
                position: relative;
                padding-left: 3.2rem;
                font-family: $pretendard;
                font-size: 1.6rem;
                white-space: nowrap;
                cursor: pointer;
                &::before, &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    box-sizing: border-box;
                }
                &::before{
                    width: 2rem;
                    height: 2rem;
                    transform: translateY(-50%);
                    border-radius: 3px;
                    border: 2px solid $gray200;
                    background: $gray0;
                }
                &::after{
                    width: 2rem;
                    height: 2rem;
                    border-radius: 3px;
                    opacity: 0;
                    background: url(../../../assets/images/icon/check.svg) no-repeat center/1.7rem $secondary500;
                }
            }
            &:focus-visible {
                + label::before {
                    outline: 2px solid $black;
                    outline-offset: 2px;
                }
            }
            &:checked{
                + label{
                    &::before{border-color: $secondary500;}
                    &::after{opacity: 1;}
                }
            }
            &:disabled {
                + label {
                    &::before{
                        border-color: $gray200;
                        background: $gray50;
                    }
                    &::after{
                        border: 2px solid $gray200;
                        background-color:$gray200;
                    }
                }
            }
        }
    }
}

/*토스트 메시지*/
.toast-pop {
    opacity: 0;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 4rem);
    max-width: 72.8rem;
    margin: 0 auto;
    padding: 1.4rem 1.6rem;
    color: $gray0;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: left;
    border-radius: 1.4rem;
    background: rgba(28, 29, 30, 0.70);
    backdrop-filter: blur(7px);
    transition: all 0.5s;
    z-index: 999;
    &.active {
        opacity: 100%;
        top: 7rem;
    }
}

/* 바텀시트 */
.bottom-sheet {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 76.8rem;
    height: calc(var(--vh, 1vh) * 100);
    background: rgba(0, 0, 0, 0.30);
    z-index: 20;
    display: none;
    &.on {
        display: block;
        .inner {
            animation: slideUp .5s;
        }
    }
    .inner {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 1.6rem 1.6rem 0 0;
        background: $gray0;
        overflow: hidden;
        .hd-wrap {
            padding: 2rem;
            @include flexbox(row, space-between, center);
            border-bottom: 1px solid $gray50;
            strong {
                font-size: 2rem;
                font-weight: 700;
                color: #292B2E;
            }
            .close-btn {
                width: 2.4rem;
                height: 2.4rem;
                background: url(../../../assets/images/icon/close.svg) no-repeat center/contain;
            }
        }
        .btn-wrap {
            button {
                width: 100%;
            }
        }
    }
}

/* 모달(팝업) */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    @include flexbox(row, center, center);
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 999;
    &.on {
        display: flex;
    }
    .inner {
        position: relative;
        width: calc(100% - 4rem);
        max-width: 72.8rem;
        margin: 0 auto;
        border-radius: 1.6rem;
        background: $gray0;
        .modal-hd {
            width: 100%;
            padding: 2rem;
            @include flexbox(row, space-between, flex-start);
            strong {
                display: inline-block;
                width: calc(100% - 2.4rem);
                font-size: 2rem;
                font-weight: 700;
                color: #292B2E;
            }
            .close-btn {
                width: 2.4rem;
                height: 2.4rem;
                border: none;
                background: url(../../../assets/images/icon/close.svg) no-repeat center/contain;
            }
        }
        .modal-con {
            width: 100%;
            padding: 0 2rem;
            p {
                font-size: 1.6rem;
                font-weight: 500;
                color: $gray600;
            }
        }
        .btn-wrap {
            width: 100%;
            padding: 2rem;
            button {
                width: 100%;
                height: 4.4rem;
                color: $gray0;
                font-size: 1.6rem;
                font-weight: 700;
                border-radius: 1rem;
                background: $gray950;
            }
        }
    }
    &.type01 {
        .inner {
            .btn-wrap {
                @include flexbox(row, center, center);
                gap: .6rem;
                button {
                    width: calc(50% - .3rem);
                    &:first-child {
                        color: $gray950;
                        background: $gray50;
                    }
                }
            }
        }
    }
}